<!DOCTYPE html>
<head>
    <title>
    NODE JS
    </title>
</head>
<body>
<h1>WELCOME TO MY WEBSITE!!!</h1>
<a href="sdr">Click here to visit about page</a>
<p>{{screamit welcome}}</p>
{{>footer}}
</body>